body{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center; 
    font-family: 'Inter', sans-serif;
}

main{
    margin: 0 10px;
}

.card {
    background-color: var(--card);
    min-width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    }

    .card .perfil{
        padding: 0 20px;
    }

    .card .perfil .avatar{
        width: 80px;
        border-radius: 50%;
    }

    .card .perfil .nome{
        color: var(--font-color);
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
    }

    .card .perfil .localizacao{
        color: var(--hover-color);
        margin-top: 10px;
        font-size: 12px;
        font-weight: 600;
    }

    .card .perfil .descricao{
        color: var(--font-color);
        opacity: 80%;
        margin-top: 25px;
        font-size: 14px;
}

.redes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
    }

    .redes .redes-item{
        background-color: var(--button);
        padding: 15px;  
        border-radius: 6px; 

        color: var(--font-color);
        font-size: 14px;
        font-weight: 600; 
    }

    .redes .redes-item:hover{
        background-color: var(--hover-color);
        color: var(--background);   
        transition: 0.5s ease-in-out;
}

.rodape{
    margin: 20px;
    }
    .attribution {
        font-size: 11px;
        text-align: center;
        color: var(--font-color); 
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
}